/* Custom Gutenberg block mxsfwn/highlight-extending */
.highlight-strong-yellow strong {
    background-color: yellow;
}

.highlight-strong-blue strong {
    background-color: blue;
    color: white;
}

.highlight-strong-green strong {
    background-color: green;
}